.parallax {
	width: 100%;
	height: 100%;

	.parralax__projects {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.mountain {
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url('/mountains.png');
			background-size: cover;
			background-size: 100% 150%;
			background-position: bottom;
			background-repeat: no-repeat;
			z-index: 3;
		}
		.planets {
			width: 100%;
			height: 100%;
			position: absolute;
			background-image: url('/planets.png');
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 2;
			background-position: center;
			transition: background-position-x 0.3s ease-out;
		}
		.stars {
			width: 100%;
			height: 100%;
			position: absolute;
			background-image: url('/stars.png');
			background-size: cover;
			background-repeat: repeat-y;
			z-index: 1;
			background-position: bottom;

			transition: background-position 0.2 ease-in-out;
		}

		.title {
			z-index: 4;
			display: flex;
			flex-direction: column;
			align-content: center;
			align-items: center;
			text-align: center;
			height: 50%;
			justify-content: space-between;

			h1 {
				color: yellow;
				font-size: 2.5rem;
				font-weight: 400;
			}
		}
	}
}
