.hero {
	background: black;
	width: 100%;
	height: 100vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		flex: 0.3;

		h1 {
			font-weight: lighter;
		}
		.address {
			font-size: small;
		}

		.announce {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			p {
				font-size: x-small;
				margin-left: 5px;
			}

			.dot {
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: green;
			}
		}
	}

	.photo {
		width: 60%;
		border-radius: 50%;
		overflow: hidden;
		background: linear-gradient(0deg, #ff0000 0%, #f3d439 90%);
		border: 2px solid green;

		img {
			height: 100%;
			width: 100%;
			object-fit: fill;
		}
	}

	.title {
		flex: 0.3;
	}
}
