.hero {
	background: black;
	width: 100%;
	height: 90vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		flex: 0.3;

		h1 {
			font-weight: lighter;
		}
		.address {
			font-size: small;
		}

		.announce {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			p {
				font-size: x-small;
				margin-left: 5px;
			}

			.dot {
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: green;
			}
		}
	}

	.photo {
		width: 85%;
		border-radius: 50%;
		overflow: hidden;
		background: linear-gradient(0deg, tomato 0%, rgb(190, 190, 24) 100%);
		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	.title {
		flex: 0.3;
		font-size: x-large;
	}
}

@keyframes movebgColor {
	0% {
		background: linear-gradient(0deg, #ff0000 0%, #f3d439 0%);
	}

	30% {
		background: linear-gradient(0deg, #ff0000 0%, #f3d439 30%);
	}
	60% {
		background: linear-gradient(0deg, #ff0000 0%, #f3d439 60%);
	}

	100% {
		background: linear-gradient(0deg, #ff0000 0%, #f3d439 90%);
	}
}
