.contact {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: white;
	position: relative;
	gap: 1rem;
	overflow: hidden;

	.card {
		color: black;
		display: flex;
		background: wheat;
		color: black;
		border-radius: 10px;
		padding: 1rem 3rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;

		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				overflow: hidden;
			}
		}
	}
}
