.brief {
	padding: 1rem;
	height: 100%;

	p {
		font-family: sans-serif;
		font-size: x-large;
	}

	.more {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		padding: 1rem;

		.dot {
			width: 10px;
			height: 10px;
			background: palevioletred;
			border-radius: 50%;
		}

		a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: small;
			text-decoration: none;
			display: flex;
			justify-content: center;
			outline-style: none;
			color: #f1dada;
		}
	}
}
