html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	cursor: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app {
	background: linear-gradient(to bottom, rgb(5, 1, 20) 0%, rgb(2, 10, 40) 90%);
	font-family: 'DM Sans', sans-serif;
}

section {
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}

a {
	outline: none;
	text-decoration: none;
	color: white;
	cursor: none;
}

.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: orangered;
	border-radius: 50%;
	z-index: 1000;
	pointer-events: none;
	transform: translate(-50%, -50%);

	@media (max-width: 760px) {
		display: none;
	}
}
